<nav class="navbar navbar-expand-lg" style="background-color: #fff;">
  <div class="container">
    <a class="navbar-brand mb-0 h1 color">Symptopro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="px-2 nav-link" routerLink="home">Home</a>
        <a class="px-2 nav-link" routerLink="home" fragment="about">About</a>
        <a class="px-2 nav-link" routerLink="home" fragment="contactus">Contact Us</a>
      </div>

      <!-- ✅ الأيقونة وزر Logout جنب بعض -->
      <div class="navbar-nav ms-auto align-items-center d-flex flex-row">
        <!-- أيقونة البروفايل -->
        <a routerLink="/profile" class="me-2">
          <i class="bi bi-person-circle fs-4 text-dark"></i>
        </a>
        <!-- زر Logout -->
        <a class="btn btn-outline-light bg-color">Logout</a>
      </div>
    </div>
  </div>
</nav>