<div class="contianer mt-5">
    <div class="row justify-content-center">
        <h1 class="text-center fs-1 my-5   ">Drugs</h1>
           <app-search-input class="search"></app-search-input>
    </div>
</div>
     

    <div class="container ">
        <div class="row row-cols-1 row-cols-md-3 g-5 p-5 my-5">
            
                @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
                <app-caregorycart></app-caregorycart>
            }
            
        </div>
        </div>
 
<!-- Chat Widget -->
<app-chat-widget></app-chat-widget>
   