# Ignore Visual Studio folder
.vs/
*.user
*.suo

# Build results
bin/
obj/

# ASP.NET secrets
**/secrets.json
appsettings.Production.json
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Environment variables
.env
*.env

# Local history
*.log

# Others
*.db
*.DS_Store
